* {
  margin: 0px;
  padding: 0px;
  }
#todo-main {
    padding-top: 40px;
  }
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
}
#main {
  margin-left: 5vw;
}
.greetings {
  margin-top: 50px;
}